.container1 {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Rampart One', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Zen Antique Soft', serif;
}

img {
  width: 80%;
 transition: all 5s;
 animation: 5s rotate ;
}
img:hover{
  transform: rotate(360deg);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.container2{
  width: 10%;
  color: #EEEEEE;
  margin-left: 2%;
  text-align: left;
  position: absolute;
  left: 2%;
  top: 10%;
}
.coin{
  height: 100px;
  width: 100px;
}
.coin:hover{
  transform: rotate(0deg);
  background-color: #abb3c0;

}

@keyframes rotate {
  from{
       transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  

}



